* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 
body {
  height: 100%;
  width: 100%;
  margin:0 auto;
  padding:0;
  position: relative;


  max-width: 100%;
  overflow-x: hidden;

  --color-bg: rgb(251,249,247);
  --color-dark :#212427;
  --color-light: rgb(255, 255, 255);
  --serif-font: 'EB Garamond', serif;
  --sans-font: 'Open Sans', sans-serif;

  background-color: var(--color-dark);
  color: var(--color-dark);

  font-size: 12px;

  /* perspective: 1px;
  transform-style: preserve-3d;
  overflow-y:scroll;
  overflow-x: hidden;  */


  background-position: top;
  /* background-image: url('./components/01_HeroComponent/paint.jpg'); */
  background-repeat: repeat-x;
  background-size: auto 60%;

  z-index: 30;    
}

h2{
  font-size: 2.3rem;
}
#root{

  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50vh; /* height of your footer */

}

@media (max-width: 767px) {
  #root{

    padding-bottom: 85vh; /* height of your footer */
  
  }
}

@media (max-width: 200px) {
  #root{

    padding-bottom: 90vh; /* height of your footer */
  
  }
}


