.portfolio__container{
    margin: 0 auto;
    background: var(--color-bg);
}

.portfolio__container img{
    width: auto;
    max-width: 30vw;
}
.portfolio-title{
    font-family: var(--serif-font);
}

@media (max-width: 400px) {
    .portfolio__container img{
        max-width: 80vw;
    }
  }